<div class="body">
    <!-- (click)="openPDF()" -->
    <div class="container" id="cv">
      <img *ngIf="viewLogo" src="..\assets\images\logo.png" class="logo">
      <div class="left-side">
          <div class="profile-text">
              <div class="imgBx" *ngIf="imgLink">
                  <img src="{{imgLink}}" alt="" class="photoProfil">
              </div>
          </div>
          <div class="contact-info" *ngIf="profilDescription">
            <h4 class="title">Profil</h4>
            <p class="profilDescription">{{profilDescription}}</p>
        </div>
          <div class="contact-info" *ngIf="dateNaissance || telephone || adresse || codePostal || ville || email || linkedin">
              <h4 class="title">Données personnelles</h4>
              <ul>
                  <li *ngIf="dateNaissance">
                    <img class="icon" src="..\assets\images\calendar-purple.png" alt="" >
                    <span class="text">{{dateNaissance}}</span>
                  </li>
                  <li *ngIf="telephone">
                    <img class="icon" src="..\assets\images\telephone-purple.png" alt="" >
                      <span class="text">{{telephone}}</span>
                  </li>
                  <li *ngIf="adresse || codePostal || ville">
                    <img class="icon" src="..\assets\images\location-purple.png" alt="" >
                    <div class="adress">
                      <span class="text adress">{{adresse}} </span>
                      <span class="text adress">{{codePostal}} {{ville}}</span>
                    </div>
                  </li>
                  <li *ngIf="email">
                     <img class="icon" src="..\assets\images\email-purple.png" alt="" >
                      <span class="text">{{email}}</span>
                  </li>
                  <li *ngIf="linkedin">
                    <img class="icon" src="..\assets\images\linkedin-purple.png" alt="" >
                      <span class="text">{{linkedin}}</span>
                  </li>
           
              </ul>
  
          </div>
  
          <div class="contact-info" *ngIf="verifyCompetence">
            <h4 class="title">Compétences</h4>
          <div class="compétences">
            <span *ngFor="let competence of competenceArray" class="text">{{competence}}</span>
          </div>
    
        </div>
          
  
  
          <div class="contact-info" *ngIf="verifyLangue">
            <h4 class="title">Langues</h4>
            <ul>
                <li *ngFor="let item of langueArray">
                  <span class="text">{{item.langue}}</span>
                  <span class="lang-level"><span *ngIf="item.niveauLangue">(</span>{{item.niveauLangue}}<span *ngIf="item.niveauLangue">)</span></span>
                </li>
                
         
            </ul>
  
        </div>
  
        <div class="contact-info" *ngIf="verifyInteret">
          <h4 class="title">Centres d'intérêt</h4>
          <ul>
              <li *ngFor="let interet of interetArray">
                <img class="square-icon"src="..\assets\images\square-purple.png" alt="" *ngIf="interet">
                <span class="text">{{interet}}</span>
              </li>
    
          </ul>
  
      </div>
      
  
      </div>
      <div class="right-side">

        <div class="header">
        <h1>{{prenom}} {{nom}}</h1>
       <h4>{{profil}}</h4>
      </div>

      <div class="about" *ngIf="verifyFormation">
        <h2 class="title">Formation</h2>
        <div class="box" *ngFor="let formation of formationArray">
            <div class="text">
              <div class="box-title">
                <h4>{{formation.formationName}}</h4>
                <h5>{{formation.dateDebutMois}} {{formation.dateDebutAnnee}} - <span>{{formation.dateFinMois}} {{formation.dateFinAnnee}}</span><span *ngIf="formation.present">Présent</span></h5>
              </div>
                <h5>{{formation.etablissement}}</h5>
                <p>{{formation.description}}</p>
              </div>
        </div>
      </div>

      <div class="about" *ngIf="verifyExperience">
        <h2 class="title">Expérience professionnelle</h2>      
        <div class="box" *ngFor="let experience of experienceProfessionnelleArray">
            <div class="text">
              <div class="box-title">
                <h4>{{experience.poste}}</h4>
                <h5>{{experience.dateDebutMois}} {{experience.dateDebutAnnee}} - <span *ngIf="!experience.present">{{experience.dateFinMois}} {{experience.dateFinAnnee}}</span ><span *ngIf="experience.present">Présent</span></h5>
              </div>
                <h5>{{experience.employeur}}</h5>
                <p>{{experience.description}}</p>
              </div>
        </div>  
      </div>

      <div class="about" *ngIf="verifyActivite">
        <h2 class="title">Activités extra-professionnelles</h2>
        <div class="box" *ngFor="let activite of extraActiviteArray">
          <div class="text">
            <div class="box-title">
            <h4>{{activite.poste}}</h4>
            <h5>{{activite.dateDebutMois}} {{activite.dateDebutAnnee}} - <span>{{activite.dateFinMois}} {{activite.dateFinAnnee}}</span> <span  *ngIf="activite.present">Présent</span></h5>
          </div>
            <h5>{{activite.employeur}}</h5>
            <p>{{activite.description}}</p>
          </div>
        </div>  
      </div>

      <div class="about" *ngIf="verifyCertficat">
        <h2 class="title">Certificats</h2>
        <div class="box box-title" *ngFor="let certficat of certificatArray">
          <div class="text">
            <h4>{{certficat.certificat}}</h4>
            <p>{{certficat.description}}</p>
          </div>
            <div class="year-company">
              <h5 *ngIf="!certficat.present">{{certficat.dateCertificatMois}} {{certficat.dateCertificatAnnee}}</h5>
              <h5 *ngIf="certficat.present">Présent</h5>
            </div>
          </div>
      </div>

    </div>
    </div>
  
  </div>
  <div class="form-footer">
    <a class="contine-btn" (click)="openPDF()" >Télécharger</a>
    </div>