<app-nav-bar></app-nav-bar> 
<main id="container">
    <section class="header-section">
       <div class="header">
        <h1 class="title">Conseils</h1>
        <p class="titleDescription">Suivez nos conseils pour créez votre CV professionnel</p> 
       </div>
    </section>
    <section class="cvTips">
       <div class="cvTip">
        <h3 class="tipTitle">#1: Essayez de garder votre CV sous une seule page</h3>
        <p>> Visez 1 page maximum, 2 si vous avez une longue expérience de travail.</p>
        <p>> Si vous avez du mal à faire tenir votre CV sur une seule page, voici quelques conseils pour y parvenir :</p>
        <ul>
            <li>Ignorez les emplois que vous avez occupés il y a plus de 10 ans.</li>
            <li>Ne mentionnez pas d'expérience de travail qui n'est pas directement liée au poste pour lequel vous postulez. Par exemple: Ne mentionnez pas votre emploi d'été en tant que caissier si vous postulez pour un poste d'ingénieur logiciel.</li>
            <li>Mentionnez seulement les compétences et expériences les plus pertinentes. </li>
        </ul>
       </div> 
       <div class="cvTip">
        <h3 class="tipTitle">#2: Listez les bonnes compétences</h3>
        <p>> Lorsque vous répertoriez vos compétences dans votre CV, assurez-vous d'inclure les compétences qui sont réellement pertinentes pour l'offre d'emplois pour lequel vous postulez.</p>
        <p>> Si vous cherchez à faire partie d'une équipe d'ingénieurs, parler de votre expertise en comptabilité n'impressionnera pas le recruteur.</p>
        <p>> Concentrez-vous uniquement sur les compétences requises dans l'offre d'emploi et sur celles directement liées au poste.</p> 
       </div> 
       <div class="cvTip">
        <h3 class="tipTitle">#3: Incluez des sections supplémentaires</h3>
        <p>> Ces sections sont très utiles si vous êtes un jeune diplômé postulant pour votre premier emploi.</p>
        <p>> Certaines sections possibles incluent :</p>
       <ul>
        <li>Langues</li>
        <li>Loisirs intérêts</li>
        <li>Expériences de bénévolat</li>
        <li>Certificats et récompenses</li>
        <li>Activités</li>
       </ul>
       </div> 
       <div class="cvTip">
        <h3 class="tipTitle">#4: Restez honnête</h3>
        <p>> Lorsque vous voulez vraiment un emploi, il peut être tentant d'exagérer ou de mentir sur vos réalisations et votre expérience.</p>
        <p class="strong">Mais faites-nous confiance quand nous vous le disons, cela ne vaut vraiment pas le risque.</p>
        <p>> Mentir dans votre CV est considéré comme une fraude. Si vous vous faites prendre, vous risquez de perdre votre emploi, de nuire à votre réputation et même de faire face à des poursuites judiciaires.</p> 
       </div> 
       <div class="cvTip">
        <h3 class="tipTitle">#5: Incluez votre LinkedIn</h3>
        <p>> Un excellent moyen de donner aux recruteurs plus d'informations sur vos compétences en réseautage et d'offrir des détails supplémentaires sur qui vous êtes professionnellement consiste à ajouter un lien vers votre profil LinkedIn.</p>
        <p>> Avant de le faire, cependant, assurez-vous que votre LinkedIn a une photo de profil professionnelle, la liste de toutes vos principales réalisations et compétences uniques, et contient des compétences pertinentes pour le poste.</p> 
       </div> 
    </section>
</main>

<app-footer></app-footer>
