
    <nav class="menu">
        <a href=""><img src="..\assets\images\logo.png" alt="Logo" class="logo"></a>
    <div class="menu-list">
        <div class="menu-item">
            <img src="..\assets\images\tableau-de-bord.png" alt="Logo d'un tableau de bord">
            <a (click)="tablBordTitlle()">Tableau de bord</a>
        </div>
        <div class="menu-item">
            <img src="..\assets\images\cv-icon.png" alt="Logo d'un cv">
            <a (click)="cvTitlle()">Curriculum vitae</a>
        </div>
        <div class="menu-item">
            <img src="..\assets\images\lettre.png" alt="Logo d'une lettre">
            <a (click)="lettreTitlle()">Lettres de motivation</a>
        </div>
        <div class="menu-item">
            <img src="..\assets\images\job-seeker.png" alt="Logo d'un job">
            <a (click)="jobTitlle()">Offres d'emplois</a>
        </div>
        <div class="menu-item">
            <img src="..\assets\images\formulaire-de-candidature.png" alt="Logo d'une candidature">
            <a (click)="candidatureTitlle()">Candidatures</a>
        </div>

    </div>
</nav>

<section class="main-section">
    <h3 class="title">{{title}}</h3>

</section>


